@import "lib/flexbox.scss";
@import "https://fonts.googleapis.com/css?family=Raleway:400,700";

$h1: 30px;
$h2: 5vmin;
$h3: 4vmin;  
$h4: 3.5vmin;
$h5: 3vmin;

@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}

html, body {
  position: relative;
  overflow-y: hidden;
  //overflow-y: scroll;
  //-webkit-overflow-scrolling: touch;
  
  cursor: pointer;
  
  margin: 0; 
  padding: 0;
  height: 100%;
  
  font-family: Raleway, sans-serif;
  font-size: $h3;
  //text-align: center;
  
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  @include align-items(stretch);

  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  text-align: center;
}

h2, .h2 {font-size: $h2}
h3, .h3 {font-size: $h3}
h4, .h4 {font-size: $h4}
h5, .h5 {font-size: $h5}

.t50 {opacity: 0.5}
.t100 {opacity: 1.0}

.whiteText {
  color: white; 
  
  button, .button {
    background: none;
    border: 1px solid white;
  }
}

.alignCenter {text-align: center}

button, .button {
  width: 80%;
  padding: 15px 0;
  margin: 20px 0;
  
  background: #345BB5;
  color: white;
  border: none;
  font-size: $h3;
  text-decoration: none;
  text-align: center;
}

input {
  width: 80%;
  padding: 5px 0;
  
  background: none;
  color: white;
  font-size: 18px;
  text-align: center;
  
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0px;
}

.avatar {
  height: 120px;
  @include clip-path(circle(50% at center));
}

.avatarSmall {
  @extend .avatar;
  height: 40px;
}  

.menuBar {
  min-height: 50px;
  padding-top: 5px;
  //border: 1px solid grey;
  color: white;
  background-color: #303030;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-around);
  @include align-items(center);

  @include flex-grow(0);
  @include flex-shrink(0);
  @include flex-basis(auto);
  
  img {
    width: 40px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    //opacity: 0.5;
  }
}

section {
  //padding: 20px;
  //border: 1px solid red;
  min-width: 100vw;
  
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto); 
  
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  @include align-items(center);
}

.person {
  //border: 1px solid red;
  
  @include flex-direction(row);
  @include align-items(center);
  
  * {
    //border: 1px solid red;
  }
  
  div {
    text-align: center;
  }
  
  img.nav {
    width: 20px;
    margin: 0 30px;
  }
}

.vote {
  color: #fff;
}

.gradient {background: linear-gradient(#180C00, #3C3C3C)}
.gradient1 {background: linear-gradient(#3C3C3C, #345BB5)}
.gradient2 {background: linear-gradient(#3C3C3C, #349548)}
.gradient3 {background: linear-gradient(#3C3C3C, #C96E0B)}
.gradient4 {background: linear-gradient(#3C3C3C, #E96956)}
.gradient5 {background: linear-gradient(#3C3C3C, #9964B8)}
.gradient6 {background: linear-gradient(#3C3C3C, #2BAADB)}

.feed {
  @extend section;
  
  padding: 20px 0;
  
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  @include justify-content(flex-start);
  
  > * {
    //border: 1px solid red;
    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(auto); 
  }

  .feedElement {
    width: 90%;
    padding: 10px 20px;
    font-size: $h4;

    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(flex-start);
    @include align-items(stretch);

    > div.who {
      min-width: 40px;
      //border: 1px solid red;

      @include flex-grow(0);
      @include flex-shrink(1);
      @include flex-basis(auto);

      @include flexbox;
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(flex-start);
      @include align-items(flex-start);
    }
    > div.what {
      //border: 1px solid green;
      padding-left: 20px;

      @include flex-grow(1);
      @include flex-shrink(1);
      @include flex-basis(auto);

/*      @include flexbox;
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(flex-start);
      @include align-items(center);*/
    }
  }
}

.friend {
  width: 90%;
  padding: 10px 20px;
  font-size: $h4;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  @include align-items(center);
  
  img {
    margin: 0 10px;
  }
}

.skillElement {
  width: 90%;
  min-height: 15px;
  padding: 5px 10px;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  @include align-items(center);
 
  > div {
    //border: 1px solid red;
  }
  .title {
    width: 125px;
    font-size: $h5;
    text-align: right;
  }
  .underBar {
    margin-left: 10px;
    height: 9px;
    border: 1px solid #CECCCC;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
  }
  .bar {
    height: 8px;
    background-color: #4475AE;
    border-radius: 3px;
  }
  .value {background-color: #DF6959;}
  .problem_solving {background-color: #379350;}
  .self_mgmt {background-color: #81609A;}
  .team_work {background-color: #B96B2E;}
  .leadership {background-color: #4475AE;}
  .communication {background-color: #32A2C8;}
}

.statusBar {
  width: 100%;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);
  @include align-items(center);
  
  > div {
    //border: 1px solid red;
  }
}

.answers {
  padding: 0px; 
  
  min-height: 20vh;
  width: 100vw;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(stretch);
  
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);
}

.answer {
  margin: 0px;
  margin-top: -1px;
  padding: 10px;
  
  min-width: 40%;
  border: 1px solid black;
  
  text-align: center;
  
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  @include align-items(center);
  
  @include flex-grow(1);
  @include flex-shrink(0);
  @include flex-basis(40vw);
}

.answer:active {
  background-color: rgba(255,255,255,0.3);
}

li.answer:nth-child(odd) {
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
li.answer:nth-child(even) {
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.maxContainer {
  padding: 5% 10px;
  margin: 0px;
  
  //min-height: 20vh;
  //width: 90%;
  //border: 1px solid red;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(stretch);
  
  @include flex-grow(1);
  @include flex-shrink(0);
  @include flex-basis(auto);
}

.max {
  margin: 0px;
  margin-top: -1px;
  //padding: 10px;
  
  //min-width: 30%;
  //max-width: 20%;
  //border: 1px solid black;
  
  font-size: 13px;
  text-align: center;
  
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  @include align-items(center);
  
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(25%);
  
  img {
    width: 80px;
    margin-bottom: 10px;
  }
}

.radarAgenda {
  width: 100%;
  padding: 20px 0;
  //border: 1px solid red;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  @include align-items(space-between);
  
  > * {
    //border: 1px solid red;
    text-align: center;
    
    @include flex-grow(1);
    @include flex-shrink(1);
    @include flex-basis(40%); 
  }
  
  img {
    height: 24px;
  }
}