@import "lib/flexbox.scss";
@import "https://fonts.googleapis.com/css?family=Raleway:400,700";

@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}

html, body {
  margin: 0; 
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  
  font-family: Raleway, sans-serif;
  
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  @include align-items(stretch);

  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);
}

.avatar {
  height: 120px;
  @include clip-path(circle(50% at center));
}

.avatarSmall {
  @extend .avatar;
  height: 40px;
}  

.menuBar {
  min-height: 50px;
  //border: 1px solid grey;
  background-color: #303030;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-around);
  @include align-items(center);

  @include flex-grow(0);
  @include flex-shrink(1);
  @include flex-basis(auto);
  
  img {
    width: 40px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
}

section {
  //padding: 20px;
  
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto); 
  
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  @include align-items(center);
}

.feed {
  @extend section;
  
  overflow-y: auto;
  overflow-x: hidden;
  @include justify-content(flex-start);
  
  > * {
    border: 1px solid red;
    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(auto); 
  }

  .feedElement {
    width: 100%;
    //padding: 10px 0;

    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(flex-start);
    @include align-items(stretch);

    > div.who {
      min-width: 40px;
      //border: 1px solid red;

      @include flex-grow(0);
      @include flex-shrink(1);
      @include flex-basis(auto);

      @include flexbox;
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(flex-start);
      @include align-items(flex-start);
    }
    > div.what {
      //border: 1px solid green;
      padding-left: 10px;

      @include flex-grow(1);
      @include flex-shrink(1);
      @include flex-basis(auto);

      @include flexbox;
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(flex-start);
      @include align-items(center);
    }
  }
}

.skillElement {
  width: 100%;
  min-height: 15px;
  padding: 5px 0;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(flex-start);
  @include align-items(center);
 
  > div {
    //border: 1px solid red;
  }
  .title {
    width: 125px;
  }
  .bar {
    margin-left: 10px;
    height: 10px;
    background-color: aqua;
  }
}

.statusBar {
  width: 100%;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);
  @include align-items(center);
  
  > div {
    //border: 1px solid red;
  }
}

.answers {
  padding: 0px; 
  
  min-height: 20vh;
  width: 100vw;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(stretch);
  
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);
}

.answer {
  margin: 0px;
  margin-top: -1px;
  padding: 10px;
  
  min-width: 40%;
  border: 1px solid black;
  
  text-align: center;
  
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  @include align-items(center);
  
  @include flex-grow(1);
  @include flex-shrink(0);
  @include flex-basis(40vw);
}

li.answer:nth-child(odd) {
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
li.answer:nth-child(even) {
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.maxContainer {
  padding: 0px; 
  
  min-height: 20vh;
  width: 100vw;
  border: 1px solid red;
  
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(stretch);
  
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);
}

.max {
  margin: 0px;
  margin-top: -1px;
  padding: 10px;
  
  //min-width: 30%;
  //max-width: 20%;
  border: 1px solid black;
  
  text-align: center;
  
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(center);
  @include align-items(center);
  
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(25vw);
}